@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* AeonikTRIAL-Light.otf */
@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/AeonikTRIAL-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
